<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rmd.donateblood">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/applogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/applogo"
        android:supportsRtl="true"
        android:theme="@style/Theme.GiveBlood">
        <activity
            android:name="com.rmd.donateblood.main.Activity_Login_Register"
            android:exported="false" />

        <activity
            android:name=".ui.notification.activity_fragment.Notification_Activity" />
        <activity
            android:name="com.rmd.donateblood.main.Activity_Settings"
            android:exported="false"
            android:label="@string/title_activity_settings" />
        <activity
            android:name="com.rmd.donateblood.main.Activity_Splash"
            android:exported="true"
            android:noHistory="true"
            android:screenOrientation="locked">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.rmd.donateblood.main.Activity_Main"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/Theme.GiveBlood.NoActionBar" />

        <service
            android:name=".ui.notification.Firebase_Messaging"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <meta-data
            android:name="com.google.android.gms.wallet.api.enabled"
            android:value="true" />
    </application>

</manifest>